<footer class="py-2 bg-dark mt-auto " >
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; CS Website 2023</div>
             <div><a href="" style="color: bisque ;font-size: 20px;"><img src="/uploads/fb.jpg" width="40px" style="border-radius: 25px;"></a></div>
             <div><a href="" style="color: bisque ;font-size: 20px;"><img src="/uploads/insta.jpg" width="40px" style="border-radius: 25px;"></a></div>
             <div><a href="" style="color: bisque ;font-size: 20px;"><img src="/uploads/twitter .jpg" width="40px" style="border-radius: 25px;"></a></div>
             <div><a href="" style="color: bisque ;font-size: 20px;"><img src="/uploads/WhatsApp.jpg" width="40px" style="border-radius: 25px;"></a></div>
        </div>
    </div>
</footer>


</body>
</html>